<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>GIDClientID</key>
		<string>912424781531-2vtjhlmifp6gggihubmpdnf0bt2ketgm.apps.googleusercontent.com</string>
		<!-- Put me in the [my_project]/ios/Runner/Info.plist file -->
		<!-- Google Sign-in Section -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<!-- TODO Replace this value: -->
					<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
					<string>com.googleusercontent.apps.912424781531-2vtjhlmifp6gggihubmpdnf0bt2ketgm</string>
				</array>
			</dict>
		</array>
		<key>NSContactsUsageDescription</key>
		<string>We need access to your contacts to invite your friends via referral</string>
		<!-- End of the Google Sign-in Section -->
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>InZone</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleGetInfoString</key>
		<string></string>
		<key>CFBundleIconFile</key>
		<string></string>
		<key>CFBundleIconFiles</key>
		<array>
			<string></string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>inzone</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSAllowsArbitraryLoadsForMedia</key>
			<true/>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
		</dict>
		<key>NSAppleMusicUsageDescription</key>
		<string>We need access to your photo library to upload and share photos within the app.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need your microphone for video chatting with your AI characters.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>This app needs speech recognition access to convert your speech to text.</string>
		<key>NSCameraUsageDescription</key>
		<string>We need access to your camera to upload and share photos within the app.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to your photo library so you can upload and share photos in posts and messages within the app.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIUserInterfaceStyle</key>
		<string>Automatic</string>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-4474122990542651~2508616366</string>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>NSUserTrackingUsageDescription</key>
		<string>We use your device's advertising identifier (IDFA) to deliver relevant ads and measure how our ads perform.</string>
		<key>NSAdvertisingAttributionReportEndpoint</key>
		<string>https://appsflyer-skadnetwork.com/</string>
		<key>FacebookAppID</key>
		<string>3421498634819032</string>
		<key>FacebookDisplayName</key>
		<string>InZone</string>
		<key>FacebookAdvertiserIDCollectionEnabled</key>
		<true/>
		<key>FacebookAutoLogAppEventsEnabled</key>
		<true/>
	</dict>
</plist>
